In [1]:
import os, json
import pandas as pd

# this finds our json files
path_to_json = 'F:/kalu/BITS/DeepLearning/assignment1/CORD/train/json/'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

# here I define my pandas Dataframe with the columns I want to get from the json
jsons_data = pd.DataFrame(columns=['validline'])

f = open("F:/kalu/BITS/DeepLearning/assignment1/receipt_words.csv", "a")
print("filename",",","index",",","x1",",",'x2',",",'x3',",",'x4',",",'y1',",",'y2',",",'y3',",",'y4',",",'is_key',",",'row_id',",",'text',",",'category',",","group_id",file=f)


# we need both the json and an index number so use enumerate()
for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)
        
       # print(json_text)

        # here you need to know the layout of your json and each json has to have
        # the same structure (obviously not the structure I have here)
        lines = json_text['valid_line']
        
        for x in lines:
            words = x['words']
            category = x['category']
            group_id = x['group_id']
            for y in words:
                print(js,",",index,",",y['quad']['x1'],",",y['quad']['x2'],",",y['quad']['x3'],",",y['quad']['x4'],",",y['quad']['y1'],",",y['quad']['y2'],",",y['quad']['y3'],",",y['quad']['y4'],",",y['is_key'],",",y['row_id'],",\"",y['text'],"\",",category,",",group_id,file=f)

       # city = json_text['features'][0]['properties']['name']
        #lonlat = json_text['features'][0]['geometry']['coordinates']
        # here I push a list of data into a pandas DataFrame at row given by 'index'
        #f.close()
        #jsons_data.loc[index] = [words, city, lonlat]

# now that we have the pertinent json data in our DataFrame let's look at it
f.close()

In [20]:
import pandas as pd
receipts_df = pd.read_csv("F:/kalu/BITS/DeepLearning/assignment1/receipt_words.csv")
receipts_df.columns = receipts_df.columns.str.strip()
receipts_df['text'] = receipts_df['text'].str.strip()

In [21]:
receipts_df

,filename,index,x1,x2,x3,x4,y1,y2,y3,y4,is_key,row_id,text,category,group_id
0,receipt_00000.json,0,256,270,270,256,374,374,390,390,0,2179893,x,menu.cnt,3
1,receipt_00000.json,0,258,270,270,258,402,402,418,418,0,2179894,x,menu.cnt,4
2,receipt_00000.json,0,258,272,272,258,428,428,444,444,0,2179895,x,menu.cnt,5
3,receipt_00000.json,0,260,274,274,260,456,456,470,470,0,2179896,x,menu.cnt,6
4,receipt_00000.json,0,258,274,274,258,480,480,496,496,0,2179897,x,menu.cnt,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37916,receipt_00799.json,786,1002,1179,1180,1002,1465,1465,1531,1528,0,678299,18.000,total.total_price,4
37917,receipt_00799.json,786,274,415,414,274,1616,1618,1685,1683,1,678300,Tunai,total.cashprice,4
37918,receipt_00799.json,786,1002,1173,1176,1002,1621,1621,1685,1686,0,678300,19.000,total.cashprice,4
37919,receipt_00799.json,786,268,474,475,268,1693,1695,1762,1761,1,678301,Kembali,total.changeprice,4
37920,receipt_00799.json,786,1031,1177,1177,1031,1699,1699,1765,1765,0,678301,1.000,total.changeprice,4

In [22]:
char2idx = {"START":0,"END":1,"a":2,"b":3,"c":4,"d":5,"e":6,"f":7,"g":8,"h":9,"i":10,"j":11,"k":12,"l":13,"m":14,"n":15,"o":16,"p":17,"q":18,"r":19,"s":20,"t":21,"u":22,"v":23,"w":24,"x":25,"y":26,"z":27,"0":28,"1":29,"2":30,"3":31,"4":32,"5":33,"6":34,"7":35,"8":36,"9":37,".":38,"-":39,",":40,":":41," ":42}

In [23]:
char2idx

{'START': 0,
 'END': 1,
 'a': 2,
 'b': 3,
 'c': 4,
 'd': 5,
 'e': 6,
 'f': 7,
 'g': 8,
 'h': 9,
 'i': 10,
 'j': 11,
 'k': 12,
 'l': 13,
 'm': 14,
 'n': 15,
 'o': 16,
 'p': 17,
 'q': 18,
 'r': 19,
 's': 20,
 't': 21,
 'u': 22,
 'v': 23,
 'w': 24,
 'x': 25,
 'y': 26,
 'z': 27,
 '0': 28,
 '1': 29,
 '2': 30,
 '3': 31,
 '4': 32,
 '5': 33,
 '6': 34,
 '7': 35,
 '8': 36,
 '9': 37,
 '.': 38,
 '-': 39,
 ',': 40,
 ':': 41,
 ' ': 42}

In [24]:
words = receipts_df['text']

In [25]:
words

0              x
1              x
2              x
3              x
4              x
          ...
37916     18.000
37917      Tunai
37918     19.000
37919    Kembali
37920      1.000
Name: text, Length: 37921, dtype: object

In [34]:
indexed_words = []
j=43
for word in words:
    indexed_word = []
    word = word.lower();
    for i in range(len(word)):
        token = word[i]
        if token not in char2idx:
            char2idx[token] = j
            j += 1
        indexed_word.append(char2idx[token])
    indexed_words.append(indexed_word)

receipts_df["indexed_words"] = indexed_words;

In [36]:
receipts_df["indexed_words"]

0                             [25]
1                             [25]
2                             [25]
3                             [25]
4                             [25]
                   ...
37916     [29, 36, 38, 28, 28, 28]
37917          [21, 22, 15, 2, 10]
37918     [29, 37, 38, 28, 28, 28]
37919    [12, 6, 14, 3, 2, 13, 10]
37920         [29, 38, 28, 28, 28]
Name: indexed_words, Length: 37921, dtype: object

In [27]:
import numpy as np
def get_bigram_probs(words, V, start_idx, end_idx, smoothing=1):
  # structure of bigram probability matrix will be:
  # (last word, current word) --> probability
  # we will use add-1 smoothing
  # note: we'll always ignore this from the END token
  bigram_probs = np.ones((V, V)) * smoothing
  for word in words:
    for i in range(len(word)):
      
      if i == 0:
        # beginning word
        word[i]
        bigram_probs[start_idx, word[i]] += 1
      else:
        # middle word
        bigram_probs[word[i-1], word[i]] += 1

      # if we're at the final word
      # we update the bigram for last -> current
      # AND current -> END token
      if i == len(word) - 1:
        # final word
        bigram_probs[word[i], end_idx] += 1

  # normalize the counts along the rows to get probabilities
  bigram_probs /= bigram_probs.sum(axis=1, keepdims=True)
  return bigram_probs

In [28]:
start_idx = char2idx['START']
end_idx = char2idx['END']
V = len(char2idx)

In [29]:
bigram_probs = get_bigram_probs(indexed_words, V, start_idx, end_idx, smoothing=0.1)

In [30]:
bigram_probs

array([[2.63676922e-06, 2.63676922e-06, 1.57705167e-02, ...,
        2.63676922e-06, 1.08107538e-04, 1.08107538e-04],
       [1.61290323e-02, 1.61290323e-02, 1.61290323e-02, ...,
        1.61290323e-02, 1.61290323e-02, 1.61290323e-02],
       [7.90126578e-06, 7.98106857e-02, 7.98027844e-04, ...,
        7.90126578e-06, 7.90126578e-06, 7.90126578e-06],
       ...,
       [5.49450549e-03, 4.45054945e-01, 5.49450549e-03, ...,
        5.49450549e-03, 5.49450549e-03, 5.49450549e-03],
       [9.80392157e-03, 4.01960784e-01, 9.80392157e-03, ...,
        9.80392157e-03, 9.80392157e-03, 9.80392157e-03],
       [9.80392157e-03, 9.80392157e-03, 2.05882353e-01, ...,
        9.80392157e-03, 9.80392157e-03, 9.80392157e-03]])

In [54]:
 # a function to calculate normalized log prob score
  # for a sentence
def get_score(word):
    #print("word")
    #print(word)
    score = 0
    if len(word) > 0 :
        for i in range(len(word)):
          if i == 0:
            # beginning word
            score += np.log(bigram_probs[start_idx, word[i]])
          else:
            # middle word
            score += np.log(bigram_probs[word[i-1], word[i]])
        # final word
        score += np.log(bigram_probs[word[i-1], end_idx])

    # normalize the score
    # return score / (len(word) + 1)
    if score == 0:
        return score;
    else :
        return  ((-1)*(len(word) + 1)/score)*100

In [55]:
from future.utils import iteritems

idx2char = dict((v, k) for k, v in iteritems(char2idx))
def get_word(word):
    return ''.join(idx2char[i] for i in word)

In [56]:
# when we sample a fake sentence, we want to ensure not to sample
  # start token or end token
sample_probs = np.ones(V)
sample_probs[start_idx] = 0
sample_probs[end_idx] = 0
sample_probs /= sample_probs.sum()
 # test our model on real and fake sentences
while True:
    # real sentence
    real_idx = np.random.choice(len(indexed_words))
    real = indexed_words[real_idx]
    # fake sentence
    fake = np.random.choice(V, size=len(real), p=sample_probs)

    print("REAL:", get_word(real), "SCORE:", get_score(real))
    print("FAKE:", get_word(fake), "SCORE:", get_score(fake))

    # input your own sentence
    custom = input("Enter your own sentence:\n")
    #custom = custom.lower().split()
    custom
    # check that all tokens exist in word2idx (otherwise, we can't get score)
    bad_sentence = False
    for i in range(len(custom)):
        token = custom[i]
        #print("custom token i")
        #print(token)
        if token not in char2idx:
            bad_sentence = True

    if bad_sentence:
      print("Sorry, you entered words that are not in the vocabulary")
    else:
      # convert sentence into list of indexes
      custom = [char2idx[token] for token in custom]
      print("SCORE:", get_score(custom))


    cont = input("Continue? [Y/n]")
    if cont and cont.lower() in ('N', 'n'):
      break

REAL: total SCORE: 62.93828197050376
FAKE: 7]^=^ SCORE: 17.701576029152985

Enter your own sentence:
 rice

SCORE: 37.57273067696832

Continue? [Y/n] y

REAL: choco SCORE: 44.10903842183343
FAKE: #pfe  SCORE: 20.117762427633455

Enter your own sentence:
 chicken

SCORE: 47.079325723347445

Continue? [Y/n] 32,000

REAL: 25.637 SCORE: 38.048188328391454
FAKE: q^+<7* SCORE: 16.575190051283318

Enter your own sentence:
 32,000

SCORE: 62.72252715854384

Continue? [Y/n] n

In [51]:
receipts_df['text_score'] = receipts_df.apply(lambda row : get_score(row['indexed_words']), axis = 1)

In [52]:
receipts_df

,filename,index,x1,x2,x3,x4,y1,y2,y3,y4,is_key,row_id,text,category,group_id,indexed_words,text_score
0,receipt_00000.json,0,256,270,270,256,374,374,390,390,0,2179893,x,menu.cnt,3,[25],39.127749
1,receipt_00000.json,0,258,270,270,258,402,402,418,418,0,2179894,x,menu.cnt,4,[25],39.127749
2,receipt_00000.json,0,258,272,272,258,428,428,444,444,0,2179895,x,menu.cnt,5,[25],39.127749
3,receipt_00000.json,0,260,274,274,260,456,456,470,470,0,2179896,x,menu.cnt,6,[25],39.127749
4,receipt_00000.json,0,258,274,274,258,480,480,496,496,0,2179897,x,menu.cnt,7,[25],39.127749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37916,receipt_00799.json,786,1002,1179,1180,1002,1465,1465,1531,1528,0,678299,18.000,total.total_price,4,"[29, 36, 38, 28, 28, 28]",73.427066
37917,receipt_00799.json,786,274,415,414,274,1616,1618,1685,1683,1,678300,Tunai,total.cashprice,4,"[21, 22, 15, 2, 10]",35.927293
37918,receipt_00799.json,786,1002,1173,1176,1002,1621,1621,1685,1686,0,678300,19.000,total.cashprice,4,"[29, 37, 38, 28, 28, 28]",64.164031
37919,receipt_00799.json,786,268,474,475,268,1693,1695,1762,1761,1,678301,Kembali,total.changeprice,4,"[12, 6, 14, 3, 2, 13, 10]",49.472272
37920,receipt_00799.json,786,1031,1177,1177,1031,1699,1699,1765,1765,0,678301,1.000,total.changeprice,4,"[29, 38, 28, 28, 28]",73.862879