In [1]:
import os, json
import pandas as pd

# this finds our json files
path_to_json = 'CORD/train/json/'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

# here I define my pandas Dataframe with the columns I want to get from the json
jsons_data = pd.DataFrame(columns=['validline'])

f = open("receipt_words.csv", "a")
print("filename",",","index",",","x1",",",'x2',",",'x3',",",'x4',",",'y1',",",'y2',",",'y3',",",'y4',",",'is_key',",",'row_id',",",'text',",",'category',",","group_id",file=f)


# we need both the json and an index number so use enumerate()
for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)
        
       # print(json_text)

        # here you need to know the layout of your json and each json has to have
        # the same structure (obviously not the structure I have here)
        lines = json_text['valid_line']
        
        for x in lines:
            words = x['words']
            category = x['category']
            group_id = x['group_id']
            for y in words:
                print(js,index,y['quad']['x1'],y['quad']['x2'],y['quad']['x3'],y['quad']['x4'],y['quad']['y1'],y['quad']['y2'],y['quad']['y3'],y['quad']['y4'],y['is_key'],y['row_id'],"\""+y['text']+"\"",category,group_id,file=f,sep=",")

       # city = json_text['features'][0]['properties']['name']
        #lonlat = json_text['features'][0]['geometry']['coordinates']
        # here I push a list of data into a pandas DataFrame at row given by 'index'
        #f.close()
        #jsons_data.loc[index] = [words, city, lonlat]

# now that we have the pertinent json data in our DataFrame let's look at it
f.close()

In [2]:


# this finds our json files
path_to_json = 'CORD/test/json/'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

# here I define my pandas Dataframe with the columns I want to get from the json
jsons_data = pd.DataFrame(columns=['validline'])

f = open("receipt_words.csv", "a")


# we need both the json and an index number so use enumerate()
for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)
        
       # print(json_text)

        # here you need to know the layout of your json and each json has to have
        # the same structure (obviously not the structure I have here)
        lines = json_text['valid_line']
        
        for x in lines:
            words = x['words']
            category = x['category']
            group_id = x['group_id']
            for y in words:
                print(js,index,y['quad']['x1'],y['quad']['x2'],y['quad']['x3'],y['quad']['x4'],y['quad']['y1'],y['quad']['y2'],y['quad']['y3'],y['quad']['y4'],y['is_key'],y['row_id'],"\""+y['text']+"\"",category,group_id,file=f,sep=",")

       # city = json_text['features'][0]['properties']['name']
        #lonlat = json_text['features'][0]['geometry']['coordinates']
        # here I push a list of data into a pandas DataFrame at row given by 'index'
        #f.close()
        #jsons_data.loc[index] = [words, city, lonlat]

# now that we have the pertinent json data in our DataFrame let's look at it
f.close()

In [3]:


# this finds our json files
path_to_json = 'CORD/dev/json/'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

# here I define my pandas Dataframe with the columns I want to get from the json
jsons_data = pd.DataFrame(columns=['validline'])

f = open("receipt_words.csv", "a")


# we need both the json and an index number so use enumerate()
for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)
        
       # print(json_text)

        # here you need to know the layout of your json and each json has to have
        # the same structure (obviously not the structure I have here)
        lines = json_text['valid_line']
        
        for x in lines:
            words = x['words']
            category = x['category']
            group_id = x['group_id']
            for y in words:
                print(js,index,y['quad']['x1'],y['quad']['x2'],y['quad']['x3'],y['quad']['x4'],y['quad']['y1'],y['quad']['y2'],y['quad']['y3'],y['quad']['y4'],y['is_key'],y['row_id'],"\""+y['text']+"\"",category,group_id,file=f,sep=",")

       # city = json_text['features'][0]['properties']['name']
        #lonlat = json_text['features'][0]['geometry']['coordinates']
        # here I push a list of data into a pandas DataFrame at row given by 'index'
        #f.close()
        #jsons_data.loc[index] = [words, city, lonlat]

# now that we have the pertinent json data in our DataFrame let's look at it
f.close()

In [4]:
import pandas as pd
receipts_df = pd.read_csv("receipt_words.csv")
receipts_df.columns = receipts_df.columns.str.strip()
receipts_df['text'] = receipts_df['text'].str.strip()

In [5]:
receipts_df.dtypes

filename    object
index        int64
x1           int64
x2           int64
x3           int64
x4           int64
y1           int64
y2           int64
y3           int64
y4           int64
is_key       int64
row_id       int64
text        object
category    object
group_id     int64
dtype: object

In [6]:
char2idx = {"START":0,"END":1,"a":2,"b":3,"c":4,"d":5,"e":6,"f":7,"g":8,"h":9,"i":10,"j":11,"k":12,"l":13,"m":14,"n":15,"o":16,"p":17,"q":18,"r":19,"s":20,"t":21,"u":22,"v":23,"w":24,"x":25,"y":26,"z":27,"0":28,"1":29,"2":30,"3":31,"4":32,"5":33,"6":34,"7":35,"8":36,"9":37,".":38,"-":39,",":40,":":41," ":42}

In [7]:
#p_test.SentimentText=p_test.SentimentText.astype(str)
receipts_df.text = receipts_df.text.astype(str)
receipts_df.dtypes

filename    object
index        int64
x1           int64
x2           int64
x3           int64
x4           int64
y1           int64
y2           int64
y3           int64
y4           int64
is_key       int64
row_id       int64
text        object
category    object
group_id     int64
dtype: object

In [8]:
words = receipts_df['text']

In [9]:
indexed_words = []
j=43
for word in words:
    indexed_word = []
    #print(word)
    word = word.lower();
    for i in range(len(word)):
        token = word[i]
        if token not in char2idx:
            char2idx[token] = j
            j += 1
        indexed_word.append(char2idx[token])
    indexed_words.append(indexed_word)

receipts_df["indexed_words"] = indexed_words;

In [10]:
import numpy as np
def get_bigram_probs(words, V, start_idx, end_idx, smoothing=1):
  # structure of bigram probability matrix will be:
  # (last word, current word) --> probability
  # we will use add-1 smoothing
  # note: we'll always ignore this from the END token
  bigram_probs = np.ones((V, V)) * smoothing
  for word in words:
    for i in range(len(word)):
      
      if i == 0:
        # beginning word
        word[i]
        bigram_probs[start_idx, word[i]] += 1
      else:
        # middle word
        bigram_probs[word[i-1], word[i]] += 1

      # if we're at the final word
      # we update the bigram for last -> current
      # AND current -> END token
      if i == len(word) - 1:
        # final word
        bigram_probs[word[i], end_idx] += 1

  # normalize the counts along the rows to get probabilities
  bigram_probs /= bigram_probs.sum(axis=1, keepdims=True)
  return bigram_probs

In [11]:
start_idx = char2idx['START']
end_idx = char2idx['END']
V = len(char2idx)

In [12]:
bigram_probs = get_bigram_probs(indexed_words, V, start_idx, end_idx, smoothing=0.1)

In [13]:
bigram_probs

array([[4.26557468e-06, 4.26557468e-06, 1.48911212e-02, ...,
        4.69213215e-05, 1.32232815e-04, 4.69213215e-05],
       [1.53846154e-02, 1.53846154e-02, 1.53846154e-02, ...,
        1.53846154e-02, 1.53846154e-02, 1.53846154e-02],
       [1.27477851e-05, 7.91764931e-02, 7.77614889e-04, ...,
        1.27477851e-05, 1.27477851e-05, 1.27477851e-05],
       ...,
       [1.17647059e-02, 1.17647059e-02, 1.17647059e-02, ...,
        1.29411765e-01, 1.17647059e-02, 1.17647059e-02],
       [1.05263158e-02, 1.05263158e-02, 1.15789474e-01, ...,
        1.05263158e-02, 1.05263158e-02, 1.05263158e-02],
       [1.33333333e-02, 1.46666667e-01, 1.33333333e-02, ...,
        1.33333333e-02, 1.33333333e-02, 1.33333333e-02]])

In [14]:
 # a function to calculate normalized log prob score
  # for a sentence
def get_score(word):
    #print("word")
    #print(word)
    score = 0
    if len(word) > 0 :
        for i in range(len(word)):
          if i == 0:
            # beginning word
            score += np.log(bigram_probs[start_idx, word[i]])
          else:
            # middle word
            score += np.log(bigram_probs[word[i-1], word[i]])
        # final word
        score += np.log(bigram_probs[word[i-1], end_idx])

    # normalize the score
    # return score / (len(word) + 1)
    if score == 0:
        return score;
    else :
        return  ((-1)*(len(word) + 1)/score)*100

In [15]:
from future.utils import iteritems

idx2char = dict((v, k) for k, v in iteritems(char2idx))
def get_word(word):
    return ''.join(idx2char[i] for i in word)

In [16]:
receipts_df['text_score'] = receipts_df.apply(lambda row : get_score(row['indexed_words']), axis = 1)

In [17]:
receipts_df

,filename,index,x1,x2,x3,x4,y1,y2,y3,y4,is_key,row_id,text,category,group_id,indexed_words,text_score
0,receipt_00580.json,0,250,325,325,250,833,834,869,868,0,879802,Tebu,menu.nm,3,"[21, 6, 3, 22]",36.296117
1,receipt_00580.json,0,340,434,433,339,832,833,868,867,0,879802,Lemon,menu.nm,3,"[13, 6, 14, 16, 15]",35.362030
2,receipt_00580.json,0,217,227,228,217,835,834,869,869,0,879802,1,menu.cnt,3,[29],75.797066
3,receipt_00580.json,0,841,954,954,841,824,824,864,864,0,879802,22.000,menu.price,3,"[30, 30, 38, 28, 28, 28]",66.575447
4,receipt_00580.json,0,249,342,344,249,921,920,990,992,1,879803,Total,total.total_price,4,"[21, 16, 21, 2, 13]",63.176525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23432,receipt_00002.json,96,217,268,268,216,378,372,394,399,0,569842,"20,000",menu.unitprice,6,"[30, 28, 40, 28, 28, 28]",68.754512
23433,receipt_00002.json,96,294,347,348,294,368,365,387,390,0,569842,"20,000",menu.price,6,"[30, 28, 40, 28, 28, 28]",68.754512
23434,receipt_00002.json,96,129,161,159,129,691,690,714,718,0,569851,10%,menu.vatyn,6,"[29, 28, 43]",43.925984
23435,receipt_00002.json,96,162,193,195,162,689,689,711,712,0,569851,Tax,menu.vatyn,6,"[21, 2, 25]",40.634366
23436,receipt_00002.json,96,194,272,274,196,687,680,703,711,0,569851,Included,menu.vatyn,6,"[10, 15, 4, 13, 22, 5, 6, 5]",31.832957

In [18]:
categories = receipts_df['category'] 
category2idx = {}
idx2category = {}
j=0;
for category in categories:
    if category not in category2idx:
        category2idx[category] = j
        idx2category[j] = category
        j+=1

category2idx

def get_index_for_category(category):
    return category2idx[category]


def get_category_for_index(index):
    return idx2category[index]

In [19]:
receipts_df['category_idx'] = receipts_df.apply(lambda row : get_index_for_category(row['category']), axis = 1)
category2idx

{'menu.nm': 0,
 'menu.cnt': 1,
 'menu.price': 2,
 'total.total_price': 3,
 'total.cashprice': 4,
 'total.menuqty_cnt': 5,
 'menu.unitprice': 6,
 'sub_total.subtotal_price': 7,
 'total.changeprice': 8,
 'total.emoneyprice': 9,
 'sub_total.tax_price': 10,
 'total.creditcardprice': 11,
 'menu.sub_nm': 12,
 'menu.sub_price': 13,
 'menu.discountprice': 14,
 'sub_total.discount_price': 15,
 'sub_total.service_price': 16,
 'total.menutype_cnt': 17,
 'total.total_etc': 18,
 'sub_total.etc': 19,
 'menu.sub_cnt': 20,
 'menu.sub_unitprice': 21,
 'menu.num': 22,
 'menu.vatyn': 23,
 'menu.sub_etc': 24,
 'menu.itemsubtotal': 25,
 'void_menu.nm': 26,
 'void_menu.price': 27,
 'menu.etc': 28,
 'sub_total.othersvc_price': 29}

In [20]:
data = receipts_df[['x1','x2','x3','x4','y1','y2','y3','y4','is_key','text_score','category_idx','index']]

#data = pd.to_numeric(receipts_df[['x1','x2','x3','x4','y1','y2','y3','y4','is_key','text_score','category_idx','index']])

import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
x = data.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
#min_max_scaler = preprocessing.StandardScaler()
x_scaled = min_max_scaler.fit_transform(x)
print(x_scaled.shape)
X = pd.DataFrame(x_scaled,columns=['x1','x2','x3','x4','y1','y2','y3','y4','is_key','text_score','category_idx','index'])
X

(23437, 12)

,x1,x2,x3,x4,y1,y2,y3,y4,is_key,text_score,category_idx,index
0,0.112434,0.116948,0.116948,0.112434,0.205624,0.206701,0.208439,0.207184,0.0,0.249216,0.000000,0.000000
1,0.152116,0.158742,0.158359,0.151675,0.205366,0.206443,0.208186,0.206931,0.0,0.237457,0.000000,0.000000
2,0.097884,0.079371,0.079755,0.097884,0.206140,0.206701,0.208439,0.207437,0.0,0.746482,0.034483,0.000000
3,0.373016,0.358129,0.358129,0.373016,0.203302,0.204124,0.207175,0.206173,0.0,0.630393,0.068966,0.000000
4,0.111993,0.123466,0.124233,0.111993,0.228328,0.228866,0.239010,0.238553,1.0,0.587605,0.103448,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
23432,0.097884,0.095092,0.095092,0.097443,0.088235,0.087629,0.088428,0.088540,0.0,0.657825,0.206897,0.122137
23433,0.131834,0.125383,0.125767,0.131834,0.085655,0.085825,0.086660,0.086264,0.0,0.657825,0.068966,0.122137
23434,0.059083,0.054064,0.053298,0.059083,0.168989,0.169588,0.169277,0.169239,0.0,0.345266,0.793103,0.122137
23435,0.073633,0.066334,0.067101,0.073633,0.168473,0.169330,0.168519,0.167721,0.0,0.303829,0.793103,0.122137
23436,0.087743,0.096626,0.097393,0.088624,0.167957,0.167010,0.166498,0.167468,0.0,0.193031,0.793103,0.122137

In [21]:


from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=4, algorithm='ball_tree').fit(X)
distances, indices = nbrs.kneighbors(X)

from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial import distance

def getcosine(X,Y):
    return cosine_similarity(X,Y)[0,0];

def getneighourscore(index,X):
    return X['text_score'].tolist()[0];

X["n1_cd"] = X.apply(lambda row : getcosine(X.loc[[row.name]],X.loc[[indices[row.name,1]]]), axis = 1)
print("n1_cd done")
X["n2_cd"] = X.apply(lambda row : getcosine(X.loc[[row.name]],X.loc[[indices[row.name,2]]]), axis = 1)
print("n2_cd done")
X["n3_cd"] = X.apply(lambda row : getcosine(X.loc[[row.name]],X.loc[[indices[row.name,3]]]), axis = 1)
print("n3_cd done")

X["n1_ed"] = X.apply(lambda row : distance.euclidean(X.loc[[row.name]],X.loc[[indices[row.name,1]]]), axis = 1)
print("n1_ed done")
X["n2_ed"] = X.apply(lambda row : distance.euclidean(X.loc[[row.name]],X.loc[[indices[row.name,2]]]), axis = 1)
print("n2_ed done")
X["n3_ed"] = X.apply(lambda row : distance.euclidean(X.loc[[row.name]],X.loc[[indices[row.name,3]]]), axis = 1)
print("n3_ed done")

X["n1_score"] = X.apply(lambda row : getneighourscore(row.name,X.loc[[indices[row.name,1]]]), axis = 1)
print("n1_score done")
X["n2_score"] = X.apply(lambda row : getneighourscore(row.name,X.loc[[indices[row.name,2]]]), axis = 1)
print("n2_score done")
X["n3_score"] = X.apply(lambda row : getneighourscore(row.name,X.loc[[indices[row.name,3]]]), axis = 1)
print("n3_score done")

X

n1_cd done
n2_cd done
n3_cd done
n1_ed done
n2_ed done
n3_ed done
n1_score done
n2_score done
n3_score done

,x1,x2,x3,x4,y1,y2,y3,y4,is_key,text_score,...,index,n1_cd,n2_cd,n3_cd,n1_ed,n2_ed,n3_ed,n1_score,n2_score,n3_score
0,0.112434,0.116948,0.116948,0.112434,0.205624,0.206701,0.208439,0.207184,0.0,0.249216,...,0.000000,0.999698,0.999736,0.999839,0.021227,0.028015,0.029258,0.237457,0.256606,0.259949
1,0.152116,0.158742,0.158359,0.151675,0.205366,0.206443,0.208186,0.206931,0.0,0.237457,...,0.000000,0.998715,0.999513,0.999728,0.029169,0.037190,0.037075,0.235234,0.227006,0.245115
2,0.097884,0.079371,0.079755,0.097884,0.206140,0.206701,0.208439,0.207437,0.0,0.746482,...,0.000000,0.999448,0.999638,0.999700,0.029059,0.037204,0.043533,0.746482,0.746482,0.746482
3,0.373016,0.358129,0.358129,0.373016,0.203302,0.204124,0.207175,0.206173,0.0,0.630393,...,0.000000,0.998381,0.998970,0.998808,0.066987,0.076647,0.090275,0.630393,0.661845,0.657825
4,0.111993,0.123466,0.124233,0.111993,0.228328,0.228866,0.239010,0.238553,1.0,0.587605,...,0.000000,0.999599,0.999708,0.999765,0.036273,0.039973,0.043654,0.587605,0.587605,0.587605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23432,0.097884,0.095092,0.095092,0.097443,0.088235,0.087629,0.088428,0.088540,0.0,0.657825,...,0.122137,0.998835,0.998799,0.999003,0.036872,0.064443,0.072656,0.649587,0.630393,0.630393
23433,0.131834,0.125383,0.125767,0.131834,0.085655,0.085825,0.086660,0.086264,0.0,0.657825,...,0.122137,0.999236,0.999258,0.999493,0.031239,0.050711,0.052344,0.655747,0.657825,0.634605
23434,0.059083,0.054064,0.053298,0.059083,0.168989,0.169588,0.169277,0.169239,0.0,0.345266,...,0.122137,0.998659,0.995169,0.996532,0.049867,0.144134,0.158482,0.303829,0.248329,0.222972
23435,0.073633,0.066334,0.067101,0.073633,0.168473,0.169330,0.168519,0.167721,0.0,0.303829,...,0.122137,0.998659,0.996147,0.997538,0.049867,0.137002,0.138569,0.345266,0.193031,0.248329
23436,0.087743,0.096626,0.097393,0.088624,0.167957,0.167010,0.166498,0.167468,0.0,0.193031,...,0.122137,0.992058,0.996227,0.997471,0.114527,0.120743,0.137963,0.161902,0.222972,0.303829

In [22]:
receipts_df['category_idx']

0         0
1         0
2         1
3         2
4         3
         ..
23432     6
23433     2
23434    23
23435    23
23436    23
Name: category_idx, Length: 23437, dtype: int64

In [23]:
import tensorflow as tf

from tensorflow.keras import models
from tensorflow.keras import layers

In [21]:
X

,x1,x2,x3,x4,y1,y2,y3,y4,is_key,text_score,...,index,n1_cd,n2_cd,n3_cd,n1_ed,n2_ed,n3_ed,n1_score,n2_score,n3_score
0,0.115079,0.095859,0.095859,0.115079,0.087203,0.088144,0.087418,0.086264,0.0,0.281940,...,0.000000,0.999504,0.999683,0.999601,0.014358,0.027649,0.044415,0.281940,0.281940,0.274144
1,0.115961,0.095859,0.095859,0.115961,0.094427,0.095361,0.094492,0.093347,0.0,0.281940,...,0.000000,0.999597,0.999914,0.999833,0.013322,0.014395,0.027206,0.281940,0.281940,0.281940
2,0.115961,0.096626,0.096626,0.115961,0.101135,0.102062,0.101061,0.099924,0.0,0.281940,...,0.000000,0.999597,0.999921,0.999841,0.013322,0.013916,0.026588,0.281940,0.281940,0.281940
3,0.116843,0.097393,0.097393,0.116843,0.108359,0.109278,0.107630,0.106501,0.0,0.281940,...,0.000000,0.999643,0.999921,0.999848,0.012828,0.013916,0.026075,0.281940,0.281940,0.281940
4,0.115961,0.097393,0.097393,0.115961,0.114551,0.115464,0.114199,0.113079,0.0,0.281940,...,0.000000,0.999643,0.999929,0.999841,0.012828,0.013392,0.026588,0.281940,0.281940,0.281940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23665,0.100970,0.097776,0.098543,0.101852,0.265222,0.264948,0.263264,0.263091,1.0,0.165231,...,0.125954,1.000000,0.999338,0.999495,0.000000,0.076750,0.077890,0.165231,0.144927,0.146643
23666,0.123898,0.121933,0.121933,0.123898,0.264190,0.264948,0.263264,0.262332,1.0,0.244946,...,0.125954,1.000000,0.999323,0.999505,0.000000,0.076219,0.077747,0.244946,0.238124,0.254378
23667,0.200617,0.189801,0.189034,0.200176,0.262384,0.263918,0.262506,0.260815,0.0,0.549312,...,0.125954,1.000000,0.997838,0.998538,0.000000,0.094726,0.094768,0.549312,0.495435,0.495435
23668,0.100970,0.112347,0.113113,0.101852,0.271930,0.271649,0.269833,0.270175,1.0,0.414383,...,0.125954,1.000000,0.999531,0.999274,0.000000,0.070801,0.079472,0.414383,0.432722,0.432722
23669,0.221781,0.189417,0.189417,0.221781,0.270382,0.271134,0.268317,0.267392,0.0,0.304671,...,0.125954,1.000000,0.999530,0.999679,0.000000,0.044172,0.044172,0.304671,0.304671,0.304671

In [22]:
X.shape

(23670, 21)

In [23]:
X.columns.values

array(['x1', 'x2', 'x3', 'x4', 'y1', 'y2', 'y3', 'y4', 'is_key',
       'text_score', 'category_idx', 'index', 'n1_cd', 'n2_cd', 'n3_cd',
       'n1_ed', 'n2_ed', 'n3_ed', 'n1_score', 'n2_score', 'n3_score'],
      dtype=object)

In [24]:
XX=X
XX['New_ID'] = range(0, 0+len(XX))
type(XX.columns.values)
cols = np.delete(XX.columns.values, np.where(XX.columns.values == 'New_ID'))
cols
Y=XX.groupby(['New_ID']).apply(lambda subdf : subdf[cols].values).reset_index()
Y[0]
Y[0].values
Z=Y[0].to_numpy()
Z.shape
Z[0]
A=np.stack(Z)
B=A.transpose(0,2,1)
B.shape

(23437, 21, 1)

In [25]:
A.shape

(23437, 1, 21)

In [26]:
B=A.transpose(0,2,1)

In [27]:
B.shape

(23437, 21, 1)

In [28]:
B

array([[[0.11243386],
        [0.11694785],
        [0.11694785],
        ...,
        [0.23745696],
        [0.25660555],
        [0.25994948]],

       [[0.1521164 ],
        [0.15874233],
        [0.1583589 ],
        ...,
        [0.23523367],
        [0.22700625],
        [0.2451153 ]],

       [[0.0978836 ],
        [0.07937117],
        [0.0797546 ],
        ...,
        [0.74648158],
        [0.74648158],
        [0.74648158]],

       ...,

       [[0.05908289],
        [0.05406442],
        [0.05329755],
        ...,
        [0.30382883],
        [0.24832858],
        [0.22297188]],

       [[0.07363316],
        [0.06633436],
        [0.06710123],
        ...,
        [0.34526603],
        [0.19303051],
        [0.24832858]],

       [[0.0877425 ],
        [0.09662577],
        [0.09739264],
        ...,
        [0.16190181],
        [0.22297188],
        [0.30382883]]])

In [29]:

#data = receipts_df[['x1','x2','x3','x4','y1','y2','y3','y4','is_key','text_score','category_idx','index']]
data = X

data['category_idx']=receipts_df['category_idx'];

#from sklearn.neighbors import NearestNeighbors
#nbrs = NearestNeighbors(n_neighbors=2, algorithm='ball_tree').fit(X)
#distances, indices = nbrs.kneighbors(data[0])


from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2)
y = data.pop('category_idx')
X = data

import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
x = X.values #returns a numpy array
#min_max_scaler = preprocessing.MinMaxScaler()
min_max_scaler = preprocessing.StandardScaler()
x_scaled = min_max_scaler.fit_transform(x)
X = pd.DataFrame(x_scaled)

X_train,X_test,y_train,y_test = train_test_split(X.index,y.index,test_size=0.2)
xtrain=X.iloc[X_train]
xtest=X.iloc[X_test]
y_train=y.iloc[y_train]
y_test=y.iloc[y_test]

from imblearn.over_sampling import RandomOverSampler
from collections import Counter
print('Before Resampled dataset shape' )
print( y_train.shape)
sm = RandomOverSampler('all',random_state=42)
xtrain, y_train = sm.fit_resample(xtrain, y_train)
print(' Resampled dataset shape' )
print( y_train.shape)

ytrain = np.zeros((len(y_train), len(idx2category.values())))
ytest = np.zeros((len(y_test), len(idx2category.values())))
for i in range(len(y_train)):
    #print(y_train.values[i])
    ytrain[i][y_train[i]]=1
    
for i in range(len(y_test)):
    #print(y_train.values[i])
    ytrain[i][y_test.values[i]]=1

Before Resampled dataset shape
(18749,)
 Resampled dataset shape
(155520,)

Using TensorFlow backend.

In [30]:
type(xtrain)

numpy.ndarray

In [31]:
xtrain

array([[-0.39681456, -0.39329056, -0.39634892, ..., -0.84314215,
        -1.0202387 ,  1.05177911],
       [-0.94099248, -0.69827243, -0.70127808, ..., -1.07104385,
        -0.9857058 , -1.4190741 ],
       [ 0.58270571,  0.62961325,  0.62907657, ..., -0.850713  ,
        -1.05654966, -0.02054487],
       ...,
       [-0.13077202, -0.2718376 , -0.27221847, ..., -0.60613757,
        -0.30068696,  0.99354401],
       [ 0.5252647 ,  0.42179374,  0.42129298, ..., -0.24931708,
        -0.71692897,  0.99324841],
       [-0.36658245, -0.38789265, -0.38825346, ..., -0.30481842,
        -1.19797397,  0.99339621]])

In [32]:
xtrain.shape

(155520, 21)

In [33]:
type(xtrain)

numpy.ndarray

In [34]:
XX=xtrain.copy()
XX=pd.DataFrame(xtrain.copy())
XX['New_ID'] = range(0, 0+len(XX))
type(XX.columns.values)
cols = np.delete(XX.columns.values, np.where(XX.columns.values == 'New_ID'))
Y=XX.groupby(['New_ID']).apply(lambda subdf : subdf[cols].values).reset_index()
print('groupby done')
Z=Y[0].to_numpy()
A=np.stack(Z)
print('restack done ...transposing')
B=A.transpose(0,2,1)
B.shape

groupby done
restack done ...transposing

(155520, 21, 1)

In [50]:
dnnModel = models.Sequential()
# Layer 1 = input layer
# specify the input size in the first layer.
#------------------------------------------
# Layer 1 = input layer
dnnModel.add(layers.Conv1D(32, 3, activation="relu", input_shape=B.shape[1:3] ))

dnnModel.add(layers.MaxPooling1D((2)))


# Layer 2
dnnModel.add(layers.Conv1D(64, 3, activation="relu"))

dnnModel.add(layers.MaxPooling1D((2)))


# Layer 3
dnnModel.add(layers.Conv1D(64, 3, activation="relu" ))

dnnModel.add(layers.Flatten())
#------------------------------------------

#dnnModel.add(layers.Dense(64, activation='elu', input_shape= (10,20,)))
dnnModel.add(layers.Dense(20, activation='relu'))

# Layer 2 = hidden layer 
#dnnModel.add(layers.Dense(60, activation='relu'))

# Layer 3 = hidden layer 
#dnnModel.add(layers.Dense(30, activation='linear'))

# Layer 4 = output layer
dnnModel.add(layers.Dense(len(category2idx), activation='softmax'))

dnnModel.summary()
dnnModel.compile( optimizer = 'adam', loss = 'cosine_similarity', metrics=['accuracy'] )

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_18 (Conv1D)           (None, 19, 32)            128
_________________________________________________________________
max_pooling1d_12 (MaxPooling (None, 9, 32)             0
_________________________________________________________________
conv1d_19 (Conv1D)           (None, 7, 64)             6208
_________________________________________________________________
max_pooling1d_13 (MaxPooling (None, 3, 64)             0
_________________________________________________________________
conv1d_20 (Conv1D)           (None, 1, 64)             12352
_________________________________________________________________
flatten_6 (Flatten)          (None, 64)                0
_________________________________________________________________
dense_12 (Dense)             (None, 20)                1300
_________________________________________________________________
dense_13 (Dense)             (None, 30)                630
=================================================================
Total params: 20,618
Trainable params: 20,618
Non-trainable params: 0
_________________________________________________________________

In [51]:

ytraintens=tf.convert_to_tensor(ytrain)

h  = dnnModel.fit( B, ytraintens, epochs=19, batch_size=32)

Train on 155520 samples
Epoch 1/19
155520/155520 [==============================] - 28s 182us/sample - loss: -0.5867 - accuracy: 0.5302
Epoch 2/19
155520/155520 [==============================] - 27s 175us/sample - loss: -0.6883 - accuracy: 0.6480
Epoch 3/19
155520/155520 [==============================] - 28s 178us/sample - loss: -0.7268 - accuracy: 0.6929
Epoch 4/19
155520/155520 [==============================] - 27s 175us/sample - loss: -0.7503 - accuracy: 0.7214
Epoch 5/19
155520/155520 [==============================] - 28s 178us/sample - loss: -0.7659 - accuracy: 0.7396
Epoch 6/19
155520/155520 [==============================] - 27s 176us/sample - loss: -0.7775 - accuracy: 0.7534
Epoch 7/19
155520/155520 [==============================] - 28s 177us/sample - loss: -0.7850 - accuracy: 0.7615
Epoch 8/19
155520/155520 [==============================] - 28s 181us/sample - loss: -0.7927 - accuracy: 0.7711
Epoch 9/19
155520/155520 [==============================] - 26s 169us/sample - loss: -0.7976 - accuracy: 0.7769
Epoch 10/19
155520/155520 [==============================] - 24s 156us/sample - loss: -0.8031 - accuracy: 0.7835
Epoch 11/19
155520/155520 [==============================] - 25s 163us/sample - loss: -0.8058 - accuracy: 0.7870
Epoch 12/19
155520/155520 [==============================] - 24s 152us/sample - loss: -0.8092 - accuracy: 0.7908
Epoch 13/19
155520/155520 [==============================] - 24s 153us/sample - loss: -0.8130 - accuracy: 0.7956
Epoch 14/19
155520/155520 [==============================] - 23s 151us/sample - loss: -0.8150 - accuracy: 0.7979
Epoch 15/19
155520/155520 [==============================] - 819s 5ms/sample - loss: -0.8189 - accuracy: 0.8025
Epoch 16/19
155520/155520 [==============================] - 29s 185us/sample - loss: -0.8207 - accuracy: 0.8046
Epoch 17/19
155520/155520 [==============================] - 28s 179us/sample - loss: -0.8218 - accuracy: 0.8062
Epoch 18/19
155520/155520 [==============================] - 28s 177us/sample - loss: -0.8239 - accuracy: 0.8090
Epoch 19/19
155520/155520 [==============================] - 28s 180us/sample - loss: -0.8261 - accuracy: 0.8112